body {
    background-color: lightsalmon;
    border: 10px dotted #d5c0f5;
    border-radius: 30px 30px 30px;

}

h1 {
    text-align: center;
    font-family: Georgia, sans-serif;
    color: brown;

}

img {
    height: auto;
    max-width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: #d5c0f5 10px solid;

}

p {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia, serif;
    color: brown;
    font-size: 20px;
    text-align: center;

}